.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode header,
.dark-mode footer,
.dark-mode .produit {
    background-color: black;
    color: white;
}

.dark a {
    color: #00aaff;
}

.dark-mode button {
    background: #444;
    color: white;
    border: 1px solid #555;
}

.dark-mode .produit {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

#toggle-dark-mode {
    position : relative ;
    left: 150px;
}

.dark-mode #produit-details {
    background-color: black;
    color: white;
}

.dark-mode .navbar {
    background-color: black;
    color: white;
}
.dark-mode .avantFooter {
    background-color: black;
    color: white;
}